* {
    background-color: black;
}

header h2 {
    color: green;
}

header nav ul {
    text-align: right;
    color: #ffffff;
}

/* List items in navigation bar */
header nav ul li {
    /* Sets display to inline */
    display: inline;
    list-style-type: none;
    font-size: 40px;
}

section {
    font-size: 20px;
}

.nav-link {
    color: red;
}

.pink-text {
    color: pink;
}

#welcome-paragraph {
    border: 50px solid plum;
}